<style>
	.titulo-secao em {
		text-decoration: underline;
		font-style: italic
	}
	.img-detonado {
		max-width: 100%;
		height: auto;
		display: inline-block;
		margin: 5px
	}
	.text-center {
		text-align: center
	}
</style>
<article style="margin-top:20px">
	<header>
		<h1>Detonado FireRed/LeafGreen</h1>
	</header>
	<div class="accordion" id="accordionExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-pallet-town">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-pallet-town" aria-expanded="false" aria-controls="collapse-pallet-town">
					<span class="titulo-secao">
						<em>PALLET TOWN</em>
					</span>
				</button>
			</h2>
			<div id="collapse-pallet-town" class="accordion-collapse collapse" aria-labelledby="heading-pallet-town" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>O começo é sempre igual, você é um garoto que sempre sonhou em ser um treinador de Pokémons, e hoje chegou o dia de começar. Escolha o sexo do personagem, coloque seu nome e o nome de seu rival. O professor vai falar mais um pouco e o jogo começará.</p>
					<p align="center"><img data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/sprites/bigsprites.gif?w=640&ssl=1"><img decoding="async" src="https://pokemythology.net/conteudo/imgs/sprites/carvalho.bmp" alt="">
					</p>
					<p>Você começará em seu quarto, como em qualquer versão. Lá tem o seu video game, uma estante, sua cama e o computador. Vá até o computador e pegue um item Potion que está depositado lá. Depois, desça e vá até a porta de sua casa. Saia de lá e siga para o norte da cidade, onde tem um caminho com gramas, mas não conseguirá sair, pois alguém irá o chamar. É o professor Oak (Carvalho). Ele vai falar que é perigoso sair de uma cidade sem um pokémon, e vai te levar para seu laboratório.</p>
					<p>O professor vai lhe dar à escolha entre três pokémon diferentes: os famosos Charmander, Squirtle e Bulbasaur. Escolha entre um deles. O Bulbasaur é um pokémon de grama e venenoso, o Squirtle é um pokémon de água e o Charmander é um pokémon de fogo. Cada um tem uma habilidade diferente e stats diferentes. Depois disso, seu rival também escolherá um pokémon para ele. Se você pegar Bulbasaur, o rival pega o Charmander, se você pegar Charmander, o rival pega o Squirtle e se você pegar o Squirtle, o rival pega o Bulbasaur. Depois de tudo isso, o professor fala mais um pouco e você está livre… ou não.<table border="0" cellspacing="0" cellpadding="0" align="center">
							<tr>
								<td>
									<p align="center"><img data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg001.png?resize=64%2C64&ssl=1" width="64" height="64" align="center" border="0"><br>Bulbasaur</p>
								</td>
								<td>
									<p align="center"><img data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg007.png?resize=64%2C64&ssl=1" width="64" height="64" align="center" border="0"><br>Squirtle</p>
								</td>
								<td>
									<p align="center"><img data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg004.png?resize=64%2C64&ssl=1" width="64" height="64" align="center" border="0"><br>Charmander</p>
								</td>
							</tr>
						</table>
					</p>
					<p>Quando chegar na saída da sala do professor Oak, seu rival o chamará para a luta (chamaremos o rival de Gary como no desenho). Gary sempre usará um pokémon que ganha do seu pelo tipo, mas isso não importa nessa luta, pois nenhum pokémon tem um golpe super efetivo ainda, por isso não se preocupe. Quando começar a luta, Gary aparecerá na tela de batalha.</p>
					<p>O professor vai falar no meio da luta e vai te ensinar a lutar. Ele vai explicar tudo sobre o HP e se você apertar algum dos botões R ou L, aparecerá um menu de ajuda que te ensinará tudo. O professor vai te explicar o que fazer, apesar de não ser muito difícil. Se você ganhar, você vai ganhar um dinheiro, e se perder, o professor vai te explicar sobre como você perde o dinheiro e tudo o mais. Não se preocupe em perder, essa luta não vale em nada no jogo, apenas dinheiro…</p>
					<p>Quando você ganhar ou perder a luta (espero que ganhe), você pode sair da cidade (finalmente aventura). Agora na saída da cidade tem uma menina. Ela vai te explicar algumas coisas, mas nada de muito importante. Você finalmente poderá conhecer a Route 1!</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-viridian-forest">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-viridian-forest" aria-expanded="false" aria-controls="collapse-viridian-forest">
					<span class="titulo-secao">
						<em>VIRIDIAN FOREST</em>
					</span>
				</button>
			</h2>
			<div id="collapse-viridian-forest" class="accordion-collapse collapse" aria-labelledby="heading-viridian-forest" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Saindo de Viridian pelo norte, logo achará a entrada para uma floresta. Esta é a floresta do jogo, um dos lugares mais chatos que há. Aqui tem várias lutas para enfrentar, porém o dinheiro é muito pouco. Aqui você vai encontrar vários pokémons insetos, apenas um tipo de pokémon elétrico e alguns itens. Capture um de cada para ajudar a completar a pokedéx no futuro. Você terá 5% de chances de encontrar um Pikachu aqui, portanto, procure bem nos matinhos. Quando sair de lá, você chegará em Pewter.</p>
					<p class="text-center"><img class="img-detonado" class="text-center" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/viridian1.png?resize=600%2C756&ssl=1">
					</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-pewter-city">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-pewter-city" aria-expanded="false" aria-controls="collapse-pewter-city">
					<span class="titulo-secao">
						<em>PEWTER CITY</em>
					</span>
				</button>
			</h2>
			<div id="collapse-pewter-city" class="accordion-collapse collapse" aria-labelledby="heading-pewter-city" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Finalmente você chegou em uma cidade grande. Primeiro de tudo, vá no Centro Pokémon. Em Pewter tem um museu de fósseis, mas não há nada de muito interessante lá, por enquanto. No futuro, você poderá ganhar um Aerodactyl ali, mas agora não tem nada de legal. Depois, vá na loja e recarregue seu estoque de Potion, pois o desafio será complicado. Se você pegou Bulbasaur ou Squirtle, a luta vai ser fácil. Prepare seu time e vá até o ginásio.</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/treinadores/frlg/frlgemtr116.png?resize=64%2C64&ssl=1">Líder Brock – Tipo Pedra<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg074.png?resize=64%2C64&ssl=1">Geodude lv.12<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg095.png?resize=64%2C64&ssl=1">Onix lv.14</p>
					<p>A luta será fácil se usar golpes aquáticos ou golpes de planta. Quando ganhar, você ganhará a primeira insígnia, Boulder Badge e o TM 39 – Rock Tomb. Agora você poderá sair de Pewter, pela direita, mas um homem vai te parar na saída. Não se preocupe, ele vai te dar o Running Shoes, um item muito bom, que serve para você correr segurando o botão B.</p>
					<p>A rota 3 está cheia de pessoas querendo lutar, tem a entrada para o Mt. Moon, a primeira caverna do jogo. Você poderá achar Jigglypuff nos matinhos. Siga seu caminho até encontrar o Centro Pokémon. Recupere seus pokémons e entre na caverna.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-mt-moon">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-mt-moon" aria-expanded="false" aria-controls="collapse-mt-moon">
					<span class="titulo-secao">
						<em>MT. MOON</em>
					</span>
				</button>
			</h2>
			<div id="collapse-mt-moon" class="accordion-collapse collapse" aria-labelledby="heading-mt-moon" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Essa é a caverna onde você vai encontrar diversos itens e vários pokémons para capturar. O caminho é meio chato, mas é cheio de novidades. Aqui você vai ganhar o fóssil (Kabuto ou Omanyte), e vai lutar contra os primeiros Rockets. A caverna não é tão complicada de passar, mas vai demorar um pouco. Se você jogou as antigas versões, você vai perceber que essa caverna é um pouco mais via que a outra. Nessa, você vai encontrar areia, fontes e etc. Dentro desta caverna, se tiver sorte, encontrará Clefairy.</p>
					<p>Para sair facilmente, aí vão as dicas: Encontre uma escada no mesmo andar da entrada da caverna, onde tem um homem gordo por perto. Você chegará em uma passagem. Passe por ela e desça as escadas. Você verá uma rampa. Desça-a e você verá outra rampa e um Rocket. Lute se quiser, e depois suba a outra rampa e siga o caminho até o final, onde você verá outro Rocket. Lute com ele, e siga para o norte onde você vai ver um homem de óculos e duas pedras estranhas. Essas pedras são os fósseis. Você terá que lutar contra o homem, e depois disso, você vai poder pegar um dos dois fósseis, Helix Fóssil (Omanyte) e Dome Fóssil (Kabuto). Quando você pegar um, o homem vai pegar o outro. Siga o caminho, suba as escadas, e você verá outra. Suba essa e você saiu da caverna. Estará na Rota 4. Se estiver com dificuldades para atravessar a caverna, abaixo vão os mapas:</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/mtmoon1.png?resize=600%2C488&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/mtmoon2.png?resize=600%2C491&ssl=1">
					</p>
					<p>Na Rota 4, você vai ver o primeiro Move Tutor. Eles ensinam os golpes Mega Punch e/ou Mega Kick. Você vai encontrar alguns itens, e tem alguns pokémons para capturar, mas seu destino agora é Cerulean.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-cerulean-city">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-cerulean-city" aria-expanded="false" aria-controls="collapse-cerulean-city">
					<span class="titulo-secao">
						<em>CERULEAN CITY</em>
					</span>
				</button>
			</h2>
			<div id="collapse-cerulean-city" class="accordion-collapse collapse" aria-labelledby="heading-cerulean-city" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Você que nunca jogou as versões antigas, pode pensar que essa cidade é gigante, mas não é. Ainda veremos maiores. Lá, tem o segundo ginásio, e a loja de bicicletas, mas não poderá pegá-la ainda. Passe no Centro Pokémon e agora você pode escolher entre ir no ginásio agora ou depois, mas vamos primeiro no ginásio.</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/treinadores/frlg/frlgemtr117.png?resize=64%2C64&ssl=1">Líder Misty – Tipo Água<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg120.png?resize=64%2C64&ssl=1">Staryu lv.18<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg121.png?resize=64%2C64&ssl=1">Starmie lv.21</p>
					<p>Se você começou com Bulbasaur (que já deve ser Ivysaur) essa luta vai ser fácil, pois todos usam pokémons aquáticos. Se tiver um Pikachu, use-o. Quando vencer, Misty te dará o TM 03 (Water Pulse) e a segunda insígnia do jogo, a Cascade Badge.</p>
					<p>Agora que você ganhou a segunda insígnia, vá ao Centro Pokémon e siga ao norte, pois você estará preso em Cerulean. Perceba que tem um policial na frente de uma porta ao lado de uma saída. Vá para a saída e terá de lutar com Gary de novo. Vença-o para ganhar o Fame Checker e siga subindo, você vai sair de Cerulean, mas muitos desafios virão.</p>
					<p>Pokémons que o Gary usará na batalha:<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg017.png?resize=64%2C64&ssl=1">Pidgeotto lv.17<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg019.png?resize=64%2C64&ssl=1">Rattata lv.15<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg063.png?resize=64%2C64&ssl=1">Abra lv.16<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg001.png?resize=64%2C64&ssl=1"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg004.png?resize=64%2C64&ssl=1"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg007.png?resize=64%2C64&ssl=1">Pokémon inicial lv.18</p>
					<p>A Rota 24 é a que leva você para a casa do Bill. Você precisará passar pela casa do Bill para liberar a saída da cidade, para ganhar o S.S. Ticket e para ganhar uns itens e levels com seus pokémons. A ilha começa com uma ponte com vários desafios valendo um Nugget (item que você pode vender por $5000). Quando lutar com umas treze pessoas, você vai chegar na casa do Bill (ele vai estar fantasiado de Clefairy). Lá, você vai ter que tirar a fantasia dele (mexendo no computador dele) para ele te dar o S.S. Ticket. Agora você pode voltar à Cerulean. Quando chegar, você vai perceber que o policial que estava na frente da porta, agora está do lado dela. Pronto, você já pode sair de Cerulean e poderá ir à próxima cidade.</p>
					<p>Volte para Cerulean, prepare-se, pois o jogo não vai ficar fácil. Daqui para frente, quanto mais você avançar, mais o jogo vai te trazer novidades (não são diferenças do antigo para o novo, são novidades famosas). Entre na casinha onde tinha um policial na frente, e você verá que a casa foi totalmente destruída por dentro. Agora saia dela pelo buraco na parede e você vai ver um Rocket. Ele vai te desafiar para lutar. Lute com ele para ganhar o TM 28 – Dig. Quando vencer, você poderá seguir para o sul. Verá uma entrada à direita, mas não vai poder entrar, pois tem uma árvore na passagem. Desça e cuidado para não cair em Cerulean e ter que voltar tudo de novo. Você vai chegar na rota 5</p>
					<p>Na Route 5 não tem muito o que fazer, mas se você quiser deixar um pokémon para ganhar level ali, você pode. Cada passo seu é igual à 1 ponto de experiência. Descendo tudo, você vai ver uma casinha e uma casa grande. A casa grande é a passagem para Saffron, e a pequena é a passagem subterrânea para Vermilion, seu próximo destino. Você deve entrar na casa pequena e atravessar um grande corredor, até chegar em Vermilion.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-vermilion-city">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-vermilion-city" aria-expanded="false" aria-controls="collapse-vermilion-city">
					<span class="titulo-secao">
						<em>VERMILION CITY</em>
					</span>
				</button>
			</h2>
			<div id="collapse-vermilion-city" class="accordion-collapse collapse" aria-labelledby="heading-vermilion-city" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Em Vermilion há bastante coisas à fazer. Vá ao Centro Pokémon e recupere seus pokémons, fale com uma menina aqui para receber o VS Seeker. Entre na casa à esquerda do Centro Pokémon e ganhe a vara de pescar (Old Rod). Você deve ir no navio S.S. Anne ao sul da cidade, que é como os navios das outras versões, só que você não viaja nele. Entre e explore todas as cabines, nelas tem treinadores, explore todo o navio. Logo na entrada, na penúltima cabine, tem uma mulher ao lado de camas, ela pode recuperar o seus pokémons. Num certo ponto terá de lutar contra Gary.</p>
					<p>Pokémons que o Gary usará na batalha:<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg017.png?resize=64%2C64&ssl=1">Pidgeotto lv.19<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg020.png?resize=64%2C64&ssl=1">Raticate lv.16<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg064.png?resize=64%2C64&ssl=1">Kadabra lv.18<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg002.png?resize=64%2C64&ssl=1"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg005.png?resize=64%2C64&ssl=1"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg008.png?resize=64%2C64&ssl=1">Pokémon inicial evoluído lv.20</p>
					<p>Vença-o, e suba as escadas. Você vai chegar na sala do capitão. Fale com ele para ganhar o HM 01 – Cut. Depois disso, vá para o ginásio, tenha ensinado a técnica Cut a um de seus pokémons e use Cut numa árvore diferente. Entre no ginásio para lutar com Lt. Surge. Você verá que a passagem está bloqueada por 2 raios de luz. Você deve ir olhando lixo por lixo, em um deles está uma coisa que apaga um raio de luz. Quando achar, salve o jogo. A outra coisa que irá apagar o outro raio de luz está no lixo do lado, mas caso olhe no lixo errado, a luz voltará a acender e você não poderá passar, por isso é importante salvar, porque caso erre, bastas voltar do ponto salvo.</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/treinadores/frlg/frlgemtr118.png?resize=64%2C64&ssl=1">Líder Lt. Surge – Tipo Elétrico<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg100.png?resize=64%2C64&ssl=1">Voltorb lv.21<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg025.png?resize=64%2C64&ssl=1">Pikachu lv.18<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg026.png?resize=64%2C64&ssl=1">Raichu lv.24</p>
					<p>Se tiver capturado um Diglett, basta usá-lo na batalhas. Quando vencer, você irá ganhar a Thunder Badge e o TM 34 – Shock Wave. Assim que vencer o ginásio, você não terá mais nada obrigatório em Vermilion, mas poderá fazer uma das melhores coisas do jogo: ganhar a Bike.</p>
					<p>Vá na casinha em cima do ginásio e fale com um homem de bigode e chapéu para ganhar o Bike Voucher. Depois, vá para Cerulean e entre na Loja de Bicicletas. Fale com o homem do caixa para ganhar a sua. Seu próximo destino é Celadon e para chegar em Celadon, você precisará passar pelo Rock Tunnel, para passar facilmente pelo Rock Tunnel, você precisará do HM 05, e para ganhar o HM 05, você precisará ir para Pewter e o caminho mais próximo para Pewter é a Diglett Cave, mas você pode ir na Route 11 para ganhar alguns levels e capturar alguns pokémons.</p>
					<p>Na Route 11 (saindo à direita de Vermilion), você vai encontrar vários pokémons, e vários treinadores. Não há nada para fazer aqui, à não ser batalhar com os treinadores e pegar alguns itens escondidos.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-digletts-cave">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-digletts-cave" aria-expanded="false" aria-controls="collapse-digletts-cave">
					<span class="titulo-secao">
						<em>DIGLETT’S CAVE</em>
					</span>
				</button>
			</h2>
			<div id="collapse-digletts-cave" class="accordion-collapse collapse" aria-labelledby="heading-digletts-cave" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>A Diglett Cave é uma caverna que não tem itens, nem treinadores, apenas Diglett e Dugtrio para serem capturados. Ela está à direita de Vermilion. Atravesse-a para chegar em Pewter. Aqui, você poderá ir em alguns eventos, até então proibidos. Se você seguir ao sul da Diglett’s Cave, usando Cut nas árvores, você vai ganhar o HM 05 – Flash de um assistente do professor, quando achar o cientista é só falar com ele para receber o HM. Mas ele só dará se você já tenha capturado pelo menos 10 pokémons diferentes (obs.: se você teve um Charmander e ele evoluiu em Charmeleon, isso já conta como 2 pokémons capturados).</p>
					<p>Se continuar indo ao sul achará alguns itens. Use Cut aqui e cairá denovo em Viridian. Tem um Move Tutor em Viridian (no sul-esquerdo, depois que você usa o Cut) em que seus pokémon poderão aprender o Dream Eater. Volte à saída da Diglett’s Cave e use Cut à esquerda e estará em Pewter. Em Pewter, você pode entrar no museu por uma casinha do lado direito, basta usar Cut no norte-direito de Pewter. Se falar com um homem ao lado de uma pedra dourada, você vai ganhar o Old Amber, que futuramente, poderá ser trocado por um Aerodactyl.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-rock-tunnel">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-rock-tunnel" aria-expanded="false" aria-controls="collapse-rock-tunnel">
					<span class="titulo-secao">
						<em>ROCK TUNNEL</em>
					</span>
				</button>
			</h2>
			<div id="collapse-rock-tunnel" class="accordion-collapse collapse" aria-labelledby="heading-rock-tunnel" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Agora volte à saída de Cerulean (logo depois daquela casa que foi destruída), logo mais à direita tem uma árvore para se usar Cut e chegar na próxima rota. A Rota 9 e 10 é apenas o caminho para o Rock Tunnel. Lá, tem vários treinadores, e é bom você lutar com todos, pois o jogo vai começar a ficar difícil agora, pois você irá enfrentar vários desafios e os levels crescerão. Quando chegar ao Centro Pokémon, recupere seus pokémons.</p>
					<p>A Rock Tunnel é uma caverninha escura e muito chata. Você foi pegar o HM 05 na rota 2, agora você vai usá-lo para iluminar o caminho da caverna. Não há como você se perder lá, pois o caminho é muito fácil. Se você jogou R/S, você irá perceber que têm umas pedras de Rock Smash por ali, mas enquanto você não chegar no final do jogo, não vai poder quebrá-las, pois você só pega o HM 06 nas Sevii Islands. Você irá sair no final da rota 10, ande um pouco para o sul, você verá a cidade de Lavander, a cidade mais misteriosa do jogo. Se ainda está preso na caverna, aqui vão os mapas:</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/rocktunnel1.png?resize=600%2C504&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/rocktunnel2.png?resize=600%2C505&ssl=1">
					</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-lavander-town">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-lavander-town" aria-expanded="false" aria-controls="collapse-lavander-town">
					<span class="titulo-secao">
						<em>LAVANDER TOWN</em>
					</span>
				</button>
			</h2>
			<div id="collapse-lavander-town" class="accordion-collapse collapse" aria-labelledby="heading-lavander-town" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Agora não  há muito o que fazer em Lavander, a não ser passar no Centro Pokémon e recuperar seus estoques de itens na loja. Você vai perceber que lá tem uma grande torre, mas se você entrar, não vai se dar muito bem por lá. Agora você deve ir para Celadon. Saia pela esquerda para chegar na Route 08. Depois ainda voltaremos nessa torre, para atravessá-la sem problemas, porque se entrar agora só irá arranjar encrenca.</p>
					<p>Na Route 8, você vai poder ganhar vários levels, pois tem bastante gente para lutar. Você tem que se preparar, pois faz tempo que não vem uma luta importante. Logo, elas virão todas de uma vez, e você não vai poder fugir, se quiser “terminar” o jogo. Mas você deve encontrar uma casinha com a passagem secreta próxima à uma passagem para Saffron, onde você ainda não pode entrar. Quando você achar essa passagem, siga direto passando por um largo corredor até o final para chegar na Route 7, que liga Saffron à Celadon. Obs.: Não vá tentar fazer o bug do Mew por que não dá certo. Quando chegar à rota 7, apenas saia pela esquerda para chegar à próxima cidade.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-celadon-city">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-celadon-city" aria-expanded="false" aria-controls="collapse-celadon-city">
					<span class="titulo-secao">
						<em>CELADON CITY</em>
					</span>
				</button>
			</h2>
			<div id="collapse-celadon-city" class="accordion-collapse collapse" aria-labelledby="heading-celadon-city" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>A primeira coisa que você deve fazer é passar no Centro Pokémon, como em qualquer cidade. A segunda é ir para a direita e subir numa passagem pequena, e chegar em um prédio, para subir até o último andar e ganhar um belíssimo Eevee. Depois disso, entre no mesmo prédio, só que pela frente para ganhar o Tea, que habilita sua ida para Saffron (até que enfim), com uma velhinha. Agora você tem duas missões, ganhar a quarta insígnia e pegar o Silph Scope na base secreta da Equipe Rocket. Qual você quer fazer primeiro? Vamos começar pelo mais legal, a quarta insígnia. O ginásio está ao sul da cidade, use Cut e siga o caminho.</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/treinadores/frlg/frlgemtr119.png?resize=64%2C64&ssl=1">Líder Érika – Tipo Planta<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg071.png?resize=64%2C64&ssl=1">Victreebel lv.29<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg045.png?resize=64%2C64&ssl=1">Vileplume lv.29<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg114.png?resize=64%2C64&ssl=1">Tangela lv.24</p>
					<p>Para vencer a Érika, basta você usar golpes de fogo (se escolheu Charmander ou evoluiu seu Eevee para Flareon) ou golpes voadores (se pegou um Pidgey, que já deve ser Pidgeotto, no começo do jogo). Não será muito difícil se você usar pokémons que ataquem primeiro. Você vai ganhar a Rainbow Badge e o TM 19 – Giga Drain. Saia do ginásio e recupere seus pokémons.</p>
					<p>Agora vem a parte chata, a base da Equipe Rocket (mais abaixo tem os mapas da base, aqui vou explicando o que deve ser feito): Vá numa casa chamada Game Corner, e encontre um homem de preto virado para uma placa. É um Rocket. Lute com ele e após vencê-lo, fale com a placa. Isso fará com que uma escada apareça ali perto, desça. Você vai chegar num lugar onde haverá outra escada para descer (lembre-se, procure lutar com todos os Rockets em todos os andares). Desça-a e você vai chegar em uma sala com duas plantas. Mais ao lado tem umas setas, é um labirinto, não pise na seta ainda, apenas desça as escadas.</p>
					<p>No andar de baixo você verá outro labirinto desses abaixo. Pise nas setas e será levado na direção em que elas apontam. Quando encontrar um Rocket no final do labirinto, vá para a direita para encontrar um item e outra escada para descer. Desça-a e vá até o lugar mais acima do andar. Você verá um Rocket. Lute com ele e depois que vencer fale novamente com ele para ganhar o Lift Key.</p>
					<p>Agora volte dois andares acima, passe pelo labirinto e procure por um elevador na parte inferior da base. Entre nele e aperte os botões (extrema esquerda-cima) para ir até o B4F. Saia do elevador e siga para cima, até encontrar dois Rockets ao lado de uma porta. Lute com os dois para poder prosseguir até Giovanni. De preferência deixe um pokémon aquático ou de planta para lutar, que será mais fácil, pois ele usará pokémons pedra/terra. Use golpes lutadores contra Kangaskhan.</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/treinadores/frlg/frlgemtr108.png?resize=64%2C64&ssl=1">Líder da Equipe Rocket Giovanni<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg095.png?resize=64%2C64&ssl=1">Onix lv.25<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg111.png?resize=64%2C64&ssl=1">Rhyhorn lv.24<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg115.png?resize=64%2C64&ssl=1">Kangaskhan lv.29</p>
					<p>Quando vencê-lo, ele irá desaparecer e deixará um item, o Silph Scope. Pegue-o e saia da base. Aproveite que está saindo e use o elevador para ir ao B1F, lute com mais um Rocket aqui. Como eu disse, abaixo estão os mapas, siga eles e toda essa minha explicação.</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/rockethq1.png?resize=434%2C546&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/rockethq2.png?resize=506%2C354&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/rockethq3.png?resize=311%2C398&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/rockethq4.png?resize=370%2C418&ssl=1">
					</p>
					<p>Depois de tudo isso, você deve pegar o HM 02 (Fly). Vá numa saída bem à esquerda de Celadon e use Cut. Você vai encontrar uma casinha. Entre e saia do outro lado para ver outra casa. Entre e fale com a menina. Ela vai falar que você encontrou seu lugar secreto e vai te dar o HM 02. Ali também tem uma batalha em dupla. Ensine o Fly para um de seus pokémons e ele poderá voar para qualquer cidade que já tenha visitado. Acabou em Celadon, agora, vem outra parte chata do jogo, hehe, não desista, você já está na metade.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-devolta-à-lavander">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-devolta-à-lavander" aria-expanded="false" aria-controls="collapse-devolta-à-lavander">
					<span class="titulo-secao">
						<em>DEVOLTA À LAVANDER</em>
					</span>
				</button>
			</h2>
			<div id="collapse-devolta-à-lavander" class="accordion-collapse collapse" aria-labelledby="heading-devolta-à-lavander" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Agora você já tem o que fazer em Lavander, pois com o Silph Scope você pode ver fantasmas. Entre na torre fantasma de Lavander para salvar o velho Mr. Fuji, que subiu na torre para tentar acalmar o espírito de um Cubone. Suba e no segundo andar, vai encontrar Gary. Ele agora vai ter pokémons diferentes de acordo com o seu inicial. Lute com ele e quando vencer continue subindo.<table cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<p>Gary – Se você começou com Bulbasaur:</p>
									<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg017.png?resize=64%2C64&ssl=1">Pidgeotto lv.25<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg130.png?resize=64%2C64&ssl=1">Gyarados lv.22<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg102.png?resize=64%2C64&ssl=1">Exeggcute lv.23<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg064.png?resize=64%2C64&ssl=1">Kadabra lv.20<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg005.png?resize=64%2C64&ssl=1">Charmeleon lv.25</p>
								</td>
								<td>
									<p>Gary – Se você começou com Squirtle:</p>
									<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg017.png?resize=64%2C64&ssl=1">Pidgeotto lv.25<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg058.png?resize=64%2C64&ssl=1">Growlithe lv.22<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg130.png?resize=64%2C64&ssl=1">Gyarados lv.23<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg064.png?resize=64%2C64&ssl=1">Kadabra lv.20<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg002.png?resize=64%2C64&ssl=1">Ivysaur lv.25</p>
								</td>
								<td>
									<p>Gary – Se você começou com Charmander:</p>
									<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg017.png?resize=64%2C64&ssl=1">Pidgeotto lv.25<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg102.png?resize=64%2C64&ssl=1">Exeggcute lv.22<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg058.png?resize=64%2C64&ssl=1">Growlithe lv.23<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg064.png?resize=64%2C64&ssl=1">Kadabra lv.20<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg008.png?resize=64%2C64&ssl=1">Wartortle lv.25</p>
								</td>
							</tr>
						</table>
					</p>
					<p>Vá pegando os itens que encontrar e lutando com todos os treinadores que encontrar (lembrando que golpes normais e lutadores não causam dano nos pokémons fantasmas). Quando chegar no penúltimo andar, uma alma penada não vai querer deixar você subir, e vai te chamar para lutar. É um Marowak. Ele não pode ser capturado, por isso nem tente. Quando vencer o Marowak continue subindo e vai encontrar uma série de Rockets para lutar. Quando vencer todos, você verá o Sr. Fuji. Ele te levará para sua casa em Lavander e vai te dar uma PokéFlute, que serve para acordar Snorlax, habilitando sua ida para Fuchsia.</p>
					<p>Agora que fez isso tudo, você pode escolher entre dois destinos, Saffron City ou Fuchsia City. Nós escolhemos Saffron primeiro, pois é o mais chato, mas você terá de passar pelos dois, você só está escolhendo a ordem.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-saffron-city">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-saffron-city" aria-expanded="false" aria-controls="collapse-saffron-city">
					<span class="titulo-secao">
						<em>SAFFRON CITY</em>
					</span>
				</button>
			</h2>
			<div id="collapse-saffron-city" class="accordion-collapse collapse" aria-labelledby="heading-saffron-city" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Agora em Saffron, a Equipe Rocket atacou de novo. O bom é que o último desafio contra eles no continente Kanto (ainda tem sete ilhas para vê-los). O único caminho vago é a entrada para a Silph Co. ou o mini ginásio, também chamado de Dojo de Lutas. Ele está no norte-direito da cidade. Verá que tem 2 ginásios, o da direita (que é o oficial) está sendo bloqueada por um Rocket (assim como a entrada de vários lugares da cidade). O Fighting Dojo é o ginásio da esquerda. No Fighting Dojo, você enfrentará vários pokémons lutadores e quando vencer todos poderá escolher entre ganhar um Hitmonchan e um Hitmonlee, ambos são uma boa adição a sua equipe.</p>
					<p>Agora você deverá subir a Silph Co. e chegar no último andar para enfrentar o Giovanni pela penúltima vez. Esta é a parte mais chata do jogo inteiro, espero que tenha uma boa paciência agora. É importante você explorar o prédio por inteiro, pois aqui é um bom lugar para se ganhar bastante dinheiro e subir levels de seus pokémons (neste ponto do jogo, seus pokémons deveriam estar ao menos no lv.40-45 para se dar bem nos 2 próximos ginásios, portanto, agora é a hora de correr atrás do prejuízo).</p>
					<p class="text-center"><img class="img-detonado" class="text-center" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/silphco2.png?w=640&ssl=1">
					</p>
					<p>Entre no prédio, antes de sair batalhando com todo mundo lá dentro, faça o seguinte: Vá para o 5º andar e siga para sul. Tem um cientista que você é obrigado a lutar com ele para prosseguir ao sul. Você verá um Rocket que está próximo a um botão. Esse botão é um detalhe em um quadrado no chão, que quando você pisa nele, você é transportado para um outro andar. Pise nele e você vai para o nono andar, mas não explore aqui ainda, dê um passo e volte a pisar no botão para voltar onde estava. Ande para baixo e vá para a direita para ganhar o item chamado Card Key.</p>
					<p>Pronto, agora saia daí e volte ao 1º andar, então comece a explorar andar por andar, derrotando todos os que você encontrar pela frente e pegando alguns itens. Se precisar recuperar seus pokémons, sinta-se livre de sair do prédio e ir ao Centro Pokémon. Se preferir, ao sul-esquerdo do 9º andar, há uma mulher ao lado de algumas camas que recuperam seus pokémons. Ao explorar o prédio, cuidado, não pise naqueles botões no chão, que eles vão te tranportar para andares diferentes e vão acabar te confundindo. Você verá também que tem algumas salas separadas por uma parede diferente, na verdade isso é um portão. Todas as vezes que você encontrar um portão, fale com o portão e aparecerá a frase: “Bingo! The Card Key opened the door”, e o portão irá se abrir para você explorar a sala por dentro. Lembrando que você não deve pisar nos botões.</p>
					<p>Após você explorar todos os 11 andares, volte para o terceiro andar e passe por um Rocket num corredorzinho bem abaixo do elevador. Depois vire num outro corredorzinho à esquerda e pise no 1º botão dali. Ande mais um pouco e você vai ver quem??? Gary. Lute com ele novamente, seus pokémons agora estão bem mais fortes, depois você só lutará com ele denovo tendo as 8 insígnias. Seus pokémons:<table cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<p>Gary – Se você começou com Bulbasaur:</p>
									<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg018.png?resize=64%2C64&ssl=1">Pidgeot lv.37<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg130.png?resize=64%2C64&ssl=1">Gyarados lv.38<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg102.png?resize=64%2C64&ssl=1">Exeggcute lv.35<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg065.png?resize=64%2C64&ssl=1">Alakazam lv.35<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg006.png?resize=64%2C64&ssl=1">Charizard lv.40</p>
								</td>
								<td>
									<p>Gary – Se você começou com Squirtle:</p>
									<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg018.png?resize=64%2C64&ssl=1">Pidgeot lv.37<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg058.png?resize=64%2C64&ssl=1">Growlithe lv.38<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg130.png?resize=64%2C64&ssl=1">Gyarados lv.35<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg065.png?resize=64%2C64&ssl=1">Alakazam lv.35<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg002.png?resize=64%2C64&ssl=1">Ivysaur lv.40</p>
								</td>
								<td>
									<p>Gary – Se você começou com Charmander:</p>
									<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg018.png?resize=64%2C64&ssl=1">Pidgeot lv.37<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg102.png?resize=64%2C64&ssl=1">Exeggcute lv.38<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg058.png?resize=64%2C64&ssl=1">Growlithe lv.35<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg065.png?resize=64%2C64&ssl=1">Alakazam lv.35<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg008.png?resize=64%2C64&ssl=1">Wartortle lv.40</p>
								</td>
							</tr>
						</table>
					</p>
					<p>A Rota 23 é a última rota antes da Victory Road. Nela, você encontrará vários treinadores e poderá ganhar níveis importantes para seus pokémons. Siga para o norte até chegar na entrada da caverna.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-victory-road">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-victory-road" aria-expanded="false" aria-controls="collapse-victory-road">
					<span class="titulo-secao">
						<em>VICTORY ROAD</em>
					</span>
				</button>
			</h2>
			<div id="collapse-victory-road" class="accordion-collapse collapse" aria-labelledby="heading-victory-road" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>A Victory Road é a última caverna antes da Liga Pokémon. É um labirinto cheio de treinadores fortes e pokémons raros. Você vai precisar de Surf, Strength e Rock Smash para atravessar. Fique atento às pedras que precisam ser empurradas e aos buracos que levam a outros andares.</p>
					<p class="text-center"><img class="img-detonado" class="text-center" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/victoryroad1.png?resize=416%2C368&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" class="text-center" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/victoryroad2.png?resize=600%2C259&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" class="text-center" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/victoryroad3.png?resize=600%2C345&ssl=1">
					</p>
					<p>Quando sair de lá, você estará no Indigo Plateau, a liga pokémon é bem ali. Uma observação: é importante, neste ponto do jogo, já ter capturado 60 pokémons, porque é importante para depois não ter problemas quando for receber uma Pokédex nova.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-planalto-índigo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-planalto-índigo" aria-expanded="false" aria-controls="collapse-planalto-índigo">
					<span class="titulo-secao">
						<em>PLANALTO ÍNDIGO</em>
					</span>
				</button>
			</h2>
			<div id="collapse-planalto-índigo" class="accordion-collapse collapse" aria-labelledby="heading-planalto-índigo" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Aqui é o lugar onde fica a Liga Pokémon. Você vai enfrentar cinco difíceis batalhas e deverá ganhar todas para finalmente “terminar” o jogo. Passe no Centro Pokémon, equipe berries em seus pokémons e compre vários itens como Full Restore, Revive e Max Potion, pois você vai precisar. Aí vão os pokémons da Liga e do Gary, lembrando que sempre o pokémon mais forte de cada um estará equipado com uma Sitrus Berry!!! E se você deixar o HP do pokémon deles muito baixo, eles irão usar Full Restore… Esteja com seus pokémons ao menos no lv.65 e salve o jogo antes de entrar. Você não poderá voltar ao Centro Pokémon entre as batalhas.</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/treinadores/frlg/frlgemtr112.png?resize=64%2C64&ssl=1">Elite 4 Lorelei – Tipo Água/Gelo<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg087.png?resize=64%2C64&ssl=1">Dewgong lv.52<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg091.png?resize=64%2C64&ssl=1">Cloyster lv.51<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg080.png?resize=64%2C64&ssl=1">Slowbro lv.52<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg124.png?resize=64%2C64&ssl=1">Jynx lv.54<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg131.png?resize=64%2C64&ssl=1">Lapras lv.54</p>
					<p>Use golpes de planta e elétricos para vencer, cuidado ao usar tipo planta, contra a Jynx, é melhor um tipo fogo.</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/treinadores/frlg/frlgemtr113.png?resize=64%2C64&ssl=1">Elite 4 Bruno – Tipo Lutador/Pedra<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg095.png?resize=64%2C64&ssl=1">Onix lv.51<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg107.png?resize=64%2C64&ssl=1">Hitmonchan lv.53<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg106.png?resize=64%2C64&ssl=1">Hitmonlee lv.53<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg095.png?resize=64%2C64&ssl=1">Onix lv.54<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg068.png?resize=64%2C64&ssl=1">Machamp lv.56</p>
					<p>Use golpes aquáticos e de planta para vencer.</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/treinadores/frlg/frlgemtr114.png?resize=64%2C64&ssl=1">Elite 4 Agatha – Tipo Fantasma/Veneno<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg094.png?resize=64%2C64&ssl=1">Gengar lv.54<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg042.png?resize=64%2C64&ssl=1">Golbat lv.54<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg093.png?resize=64%2C64&ssl=1">Haunter lv.53<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg024.png?resize=64%2C64&ssl=1">Arbok lv.56<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg094.png?resize=64%2C64&ssl=1">Gengar lv.58</p>
					<p>Evite usar golpes normais e lutadores, contra Golbat é melhor um tipo elétrico e contra Arbok é melhor um tipo terra.</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/treinadores/frlg/frlgemtr115.png?resize=64%2C64&ssl=1">Elite 4 Lance – Tipo Dragão/Voador<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg130.png?resize=64%2C64&ssl=1">Gyarados lv.56<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs186.gif?resize=54%2C59&ssl=1">Kingdra lv.54<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg149.png?resize=64%2C64&ssl=1">Dragonite lv.54<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg142.png?resize=64%2C64&ssl=1">Aerodactyl lv.58<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg149.png?resize=64%2C64&ssl=1">Dragonite lv.60</p>
					<p align="left">Use golpes de gelo e dragão para vencer.</p>
					<p>Seu Rival (Gary)<table cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<p>Se você começou com Bulbasaur:</p>
									<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs168.gif?resize=63%2C57&ssl=1">Heracross lv.72<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs383.gif?resize=64%2C64&ssl=1">Tyranitar lv.72<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg130.png?resize=64%2C64&ssl=1">Gyarados lv.73<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg103.png?resize=64%2C64&ssl=1">Exeggutor lv.59<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg065.png?resize=64%2C64&ssl=1">Alakazam lv.57<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg006.png?resize=64%2C64&ssl=1">Charizard lv.63</p>
								</td>
								<td>
									<p>Se você começou com Squirtle:</p>
									<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs168.gif?resize=63%2C57&ssl=1">Heracross lv.72<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs383.gif?resize=64%2C64&ssl=1">Tyranitar lv.72<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg059.png?resize=64%2C64&ssl=1">Arcanine lv.73<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg130.png?resize=64%2C64&ssl=1">Gyarados lv.73<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg065.png?resize=64%2C64&ssl=1">Alakazam lv.73<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg003.png?resize=64%2C64&ssl=1">Venusaur lv.75</p>
								</td>
								<td>
									<p>Se você começou com Charmander:</p>
									<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs168.gif?resize=63%2C57&ssl=1">Heracross lv.72<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs383.gif?resize=64%2C64&ssl=1">Tyranitar lv.72<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg103.png?resize=64%2C64&ssl=1">Exeggutor lv.73<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg059.png?resize=64%2C64&ssl=1">Arcanine lv.73<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg065.png?resize=64%2C64&ssl=1">Alakazam lv.73<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg009.png?resize=64%2C64&ssl=1">Blastoise lv.75</p>
								</td>
							</tr>
						</table>
					</p>
					<p>Tendo golpes de fogo, elétricos e de água já é o bastante para vencê-lo, outros tipos como gelo, voador e terra também poderão ser usados</p>
					<p>No final do jogo, o personagem principal passa novamente por todas as rotas e cidades do jogo, até Pallet. Depois, escolha a opção continue para continuar com o jogo.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-continuando-o-jogo-–-sevii-islands">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-continuando-o-jogo-–-sevii-islands" aria-expanded="false" aria-controls="collapse-continuando-o-jogo-–-sevii-islands">
					<span class="titulo-secao">
						<em>CONTINUANDO O JOGO – SEVII ISLANDS</em>
					</span>
				</button>
			</h2>
			<div id="collapse-continuando-o-jogo-–-sevii-islands" class="accordion-collapse collapse" aria-labelledby="heading-continuando-o-jogo-–-sevii-islands" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Depois que você terminar o jogo, você deve ter 60 pokémons capturados. Vá falar com o professor Carvalho (ele virá até você) e ele vai te dar a Natinal Dex, uma PokéDex melhorada, que pode armazenar os dados dos 386 pokémon. Agora você pode capturar pokémons do GSC e RS, mas como você vai capturá-los? Pegando o Ruby e a Sapphire, que estão perdidos pelas Sevii Islands.</p>
					<p>Entre no porto de Vermilion, você será levado para as Sevii Islands. Vá para a ilha 1 e fale com o Celio. Ele dirá que precisará dos itens Ruby e Sapphire para poder fazer aquela máquina funcionar e permitir que você troque os pokémons de Hoenn/Johto para essa versão. Você deve ir pegar o Ruby, ele está naquele lugar onde tem dois Rockets na ilha 1 (bem ao norte, perto do Moltres, no Mt. Ember, lembrou?). Lute com os Rockets e entre numa caverna que agora se abriu ali perto.</p>
					<p class="text-center"><img class="img-detonado" class="text-center" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/islands4a.png?w=640&ssl=1">
					</p>
					<p>Explore toda a caverna. Traga um pokémon que use a técnica Strenght, pois vai precisar. Você pega o Ruby no fim dela. Quando chegar a um lugar com dois caminhos, pegue o do sul, o da direita leva a entrada da caverna. Pegue o Ruby, volte naquele caminho e pegue o da direita, é um atalho pra chegar mais rápido a entrada da caverna. Saia, volte até Celio e entregue o Ruby, e ele vai te dar um passaporte (Rainbow Ticket) para as ilhas 4, 5, 6 e 7. Você também receberá mapas das ilhas 4 e 5, 6 e 7.</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/islands4b.png?w=640&ssl=1">
					</p>
					<p>Ainda falta a Sapphire, mas agora vamos explorar as Sevii Islands. Vá até a ilha 3. Lembra que logo na entrada da ilha tem uma caverninha que antes não tinha nada? Entre nela agora. Verá que ela cresceu um pouquinho. Passe pela saída e chegará numa área com matinho. Você poderá encontrar Dunsparce aqui, nada demais. Vamos explorar as demais ilhas agora.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-four-island-–-a-floe-island">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-four-island-–-a-floe-island" aria-expanded="false" aria-controls="collapse-four-island-–-a-floe-island">
					<span class="titulo-secao">
						<em>FOUR ISLAND – A FLOE ISLAND</em>
					</span>
				</button>
			</h2>
			<div id="collapse-four-island-–-a-floe-island" class="accordion-collapse collapse" aria-labelledby="heading-four-island-–-a-floe-island" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>A quarta ilha é a menor de todas. Aqui você vai encontrar o Breeding Center (local onde você pode cruzar seus pokémons) e uma caverna. Esta caverna é a Icefall Cave, está localizada à direita da ilha, usando surf. Dirija-se a ela.</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/floe.png?w=640&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/islands4d.png?w=640&ssl=1">
						<img class="img-detonado" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/islands4c.png?w=640&ssl=1">
					</p>
					<p>Nesta caverna, você verá que há pisos cristalinos que quando você pisa sobre eles uma vez, eles racham, pisando neles uma segunda vez, eles quebram, fazendo você cair no andar de baixo. Pegue todos os itens que você encontrar na caverna, um deles é o HM 07 – Waterfall, que serve para subir cachoeiras, como aquela que tem no começo da caverna. Portanto, ensine Waterfall a um pokémon seu e faça ele subir a cachoeira, desça a escada e entre na caverninha. Você encontrará Lorelei (aquela da elite 4) enfrentando alguns Rockets. Vá lá e ajude ela a derrotá-los.</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/icefall1.png?resize=304%2C320&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/icefall2.png?resize=304%2C320&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" class="text-center" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/islands4e.png?w=640&ssl=1">
					</p>
					<p>Você ainda terá que ver Rockets nessas ilhas. Ainda nessa caverna, se você tiver sorte, poderá encontrar Delibird (se joga FireRed) ou Sneasel (se joga LeafGreen). Também vão aparecer Swinub. Não há mais nada para fazer na ilha 4, vamos agora para a ilha 7. Prefiro deixar as ilhas 6 e 5 para depois, porque nelas é que estão os Rockets, portanto, dirija-se à Seven Island.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-seven-island-–-a-quest-island">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-seven-island-–-a-quest-island" aria-expanded="false" aria-controls="collapse-seven-island-–-a-quest-island">
					<span class="titulo-secao">
						<em>SEVEN ISLAND – A QUEST ISLAND</em>
					</span>
				</button>
			</h2>
			<div id="collapse-seven-island-–-a-quest-island" class="accordion-collapse collapse" aria-labelledby="heading-seven-island-–-a-quest-island" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Aqui tem 2 atrações: A Trainer Tower e a Tanoby Ruins.</p>
					<p class="text-center"><img class="img-detonado" class="text-center" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/quest.png?w=640&ssl=1">
					</p>
					<p>Tanoby Ruins são as ruínas onde se encontram os Unowns, para chegar até lá, basta seguir caminho ao sul da ilha. Traga pokébolas se quiser ir capturando os Unowns. Traga pokémons com Surf e Strenght. Encontrará treinadores pelo caminho, em um certo ponto, verá uma caverna. Entre nela e empurre as pedras, abaixo está o mapa, siga a direção da seta vermelha primeiro, depois azul, depois roxa e depois verde:</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/islands7a.png?w=640&ssl=1">
					</p>
					<p>Quando você empurrar as pedras pros locais indicados, acontecerá um terremoto. Isso quer dizer que agora é possível que você encontre Unowns nas ruínas. Siga para o sul da ilha até encontrar água, usando surf por aqui você chega nas 7 ruinas. Você encontrará os Unowns das 26 letras mais os novos Unowns ! e ?. Da esquerda para a direita, você encontra nas ruinas:<br>1ª: Unowns ? e A<br>2ª: Unowns C, D, H, O e U<br>3ª: Unowns E, I, N e S<br>4ª: Unowns J, L, P, Q e R<br>5ª: Unowns F, G, K, T e Y<br>6ª: Unowns B, M, V, W e X<br>7ª: Unowns ! e Z</p>
					<p>E para chegar a Trainer Tower, basta surfar ao norte da sétima ilha. Ela é como o Trainer Hill da versão Emerald. A idéia é chegar ao topo da torre o mais rápido o possível derrotando os treinadores. No final, chegará ao telhado da torre, onde um cara te dá um item como prêmio, de acordo com o tempo que você demorou para subir toda a torre. Use itens entre as batalhas para recuperar os seus pokémons, pois, se voltar ao Centro Pokémon da torre irá perder muito tempo. Os levels dos pokémons aqui vão estar no mesmo level de seu pokémon mais forte. Portanto, é melhor entrar aqui com os pokémons todos no mesmo level. Boa Sorte, vai precisar … Mas vou avisando, a Trainer Tower é uma área opcional, não é necessário passar por ela.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-six-island-–-a-fortune-island">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-six-island-–-a-fortune-island" aria-expanded="false" aria-controls="collapse-six-island-–-a-fortune-island">
					<span class="titulo-secao">
						<em>SIX ISLAND – A FORTUNE ISLAND</em>
					</span>
				</button>
			</h2>
			<div id="collapse-six-island-–-a-fortune-island" class="accordion-collapse collapse" aria-labelledby="heading-six-island-–-a-fortune-island" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Vá ao porto e siga em direção da sexta ilha. Chegando aqui, poderá ir a norte e a sul, vamos explorar o norte primeiro, basta usar surf pro norte e chegará a terra firme. Enfrente tudo quanto é treinador que tem por aqui. É bom, porque você ainda terá que enfrentar a Elite 4 mais uma vez, e seus pokémons devem estar ao menos no lv.75.</p>
					<p class="text-center"><img class="img-detonado" class="text-center" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/fortune.png?w=640&ssl=1">
					</p>
					<p>Depois, volte a área do porto da ilha e siga em direção ao sul. Você precisará das técnicas Cut e Strenght ao longo do caminho. Prepare-se para lutar com mais treinadores. Também há itens a serem pegos. Você precisará do Cut para abrir o portão da caverna.</p>
					<p class="text-center"><img class="img-detonado" class="text-center" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/islands6a.png?w=640&ssl=1">
					</p>
					<p>Dentro da caverna, siga os buracos do norte, esquerda, direita e por último sul. Qualquer outra combinação fará você voltar ao começo. Você encontrará a Sapphire! Mas quando for pegar, virá um cientista e tomará de você, ele trabalha para os Rockets. Mas ele permitirá que você agora possa entrar num lugar da ilha 5 onde se escondem os Rockets.</p>
					<p class="text-center"><img class="img-detonado" class="text-center" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/islands6b.png?w=640&ssl=1">
					</p>
					<p>Não há mais nada a fazer na ilha 6, então parta para a Five Island!</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-five-island-–-a-chrono-island">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-five-island-–-a-chrono-island" aria-expanded="false" aria-controls="collapse-five-island-–-a-chrono-island">
					<span class="titulo-secao">
						<em>FIVE ISLAND – A CHRONO ISLAND</em>
					</span>
				</button>
			</h2>
			<div id="collapse-five-island-–-a-chrono-island" class="accordion-collapse collapse" aria-labelledby="heading-five-island-–-a-chrono-island" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Antes de mais nada, vamos acabar de vez com esse assunto dos Rockets. Siga caminho à direita do Pokémon Center, haverá Rockets pelo caminho, siga em direção ao sul. Logo achará um casarão bem grande, aqui é o Rocket Warehouse. Se você passou por ambos os lugares onde estavam o Ruby e a Sapphire, você consiguirá entrar. Abaixo segue um mapa do lugar, siga as setas vermelhas primeiro, depois as azuis:</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/trhideout.png?w=640&ssl=1">
					</p>
					<p align="left">No final, lute com o cientista. Ele usa elétricos e Porygon nos lvs.46. Derrote-o e você ficará com a Sapphire. Leve-a até Celio na ilha 1, e você poderá fazer trocas com R/S/E/Colosseum/XD. Agora que Celio tem o Ruby e a Sapphire na máquina, foi liberado sua passagem para a Unknown Dungeon (ou Cerulean Cave). Também agora é possível enfrentar novamente a elite 4, e eles estarão com pokémons novos e/ou mais fortes. Mas antes, aproveitando que ainda estamos nas Sevii Islands, vamos acabar de explorar a quinta ilha.</p>
					<p class="text-center"><img class="img-detonado" class="text-center" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/chrono.png?w=640&ssl=1">
					</p>
					<p align="left">Esteja carregando no máximo 5 pokémons. Surfe à esquerda da ilha, indo em direção norte-esquerda. Vá seguindo as passagens entre as pedras na água, em direção à esquerda. Chegará em uma ilhazinha. Aqui tem uma treinadora e um velho. Fale com um velho que ele te dará um ovo, se você depois der 1000 passos carregando ele em sua equipe, nascerá um Togepi.</p>
					<p class="text-center"><img class="img-detonado" class="text-center" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/islands5a.png?w=640&ssl=1">
					</p>
					<p align="left">Volte a ilha, surfando a norte e indo em direção a direita, haverá treinadores para lutar. Depois, volte e siga em direção ao Rocket Warehouse. Use surf seguindo em direção sul-direita o máximo que você puder. Chegará numa ilha com uma grande rocha. Se você deixar um item Lemonade ali, o cara que está do lado te dará o TM 42. No mais sul-esquerdo da ilha terá o item Metal Coat.</p>
					<p align="left">Depois de explorar as Sevii Islands, volte pro porto e escolha a opção Vermilion, e você estará devolta a Kanto. Agora há algumas coisas opcionais a fazer, se quiser, faça-as agora.<hr></p>
					<p>Áreas Opcionais:</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-seafoam-islands">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-seafoam-islands" aria-expanded="false" aria-controls="collapse-seafoam-islands">
					<span class="titulo-secao">
						<em>SEAFOAM ISLANDS</em>
					</span>
				</button>
			</h2>
			<div id="collapse-seafoam-islands" class="accordion-collapse collapse" aria-labelledby="heading-seafoam-islands" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Nas Seafoam Islands você correrá o risco de capturar Articuno, mas isso é realmente chato. Você estará habilitado de vir aqui assim que tiver o HM 03 – Surf e ganhado do líder de Fuschia. Entre numa caverna que há lá dentro. Você vai precisar de Surf e Strenght. Depois de muito trabalho, verá que para sair de lá é bem fácil. Para ver o que dá para você fazer, basta olhar os mapas abaixo:</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/seafoam1.png?resize=544%2C384&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/seafoam2.png?resize=544%2C352&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/seafoam3.png?resize=544%2C368&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/seafoam4.png?resize=544%2C336&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/seafoam5.png?resize=544%2C368&ssl=1">
					</p>
					<p>Aqui você deve ir empurrando as pedras para os buracos, pois, nos últimos andares tem correntezas na água, que fazem você se desviar do caminho certo. Quando conseguir chegar no Articuno, salve o jogo, prepare suas Ultra balls. Não use a Master ball aqui, acredite, haverá lendários mais difíceis. Boa sorte em suas tentativas de capturá-lo, ele estará no lv.50.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-power-plant">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-power-plant" aria-expanded="false" aria-controls="collapse-power-plant">
					<span class="titulo-secao">
						<em>POWER PLANT</em>
					</span>
				</button>
			</h2>
			<div id="collapse-power-plant" class="accordion-collapse collapse" aria-labelledby="heading-power-plant" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>A Power Plant é uma usina hidroelétrica, onde vive a ave lendária dos pokémons elétricos, chamado Zapdos. Para chegar nela, basta usar Fly até o Rock Tunnel, então suba e achará um rio para surfar. Nade e chegará no Power Plant. Aqui você não tem nada à fazer, apenas capturar vários pokémons elétricos mesmo. Cuidado para não se enganar com Voltorb, pensando que são itens…</p>
					<p class="text-center"><img class="img-detonado" class="text-center" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/powerplant1.png?resize=600%2C488&ssl=1">
					</p>
					<p>Para este lendário, também use Ultra balls para tentar capturá-lo. Lembre-se sempre de salvar o jogo antes de começar a batalha, pois, caso não consiga capturá-lo, você poderá tentar denovo do lugar onde salvou. Você está liberado para capturá-lo ao mesmo tempo que Articuno. Zapdos também está no lv.50, boa sorte para capturá-lo.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-os-cães-lendários">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-os-cães-lendários" aria-expanded="false" aria-controls="collapse-os-cães-lendários">
					<span class="titulo-secao">
						<em>OS CÃES LENDÁRIOS</em>
					</span>
				</button>
			</h2>
			<div id="collapse-os-cães-lendários" class="accordion-collapse collapse" aria-labelledby="heading-os-cães-lendários" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Sim, nestas versões você também poderá capturar os cães lendários Raikou, Entei ou Suicune. Mas só um deles poderá aparecer para você, e será da mesma forma que eles apareciam em G/S/C: aleatoriamente pelos matinhos de todo o continente Kanto. Eles poderão aparecer logo após que você derrotar a elite 4. Os matinhos que eles aparecem são os que estão nas rotas dos arredores de Cerulean, Saffrom e Fuschia, ou seja, praticamente em todo o mapa. Conforme você ande ou voe de uma cidade/rota para a outra, eles mudarão o local de onde estão. É preciso de muita sorte para encontrá-los, e quando encontrar, não pense duas vezes: vá logo atirando a Master ball, assim, é certeza que você vai capturá-lo, sem precisar enfraquecê-lo. Mas caso não use a Master ball, será mais difícil, porque eles irão fugir no primeiro golpe dado neles e você terá que encontrá-lo denovo para outras tentativas de enfraquecê-lo ou atirar a Ultra ball, de preferência.<table class="text-center" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs378.gif?resize=62%2C64&ssl=1"><br>Raikou</p>
								</td>
								<td>
									<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs379.gif?resize=63%2C64&ssl=1"><br>Entei</p>
								</td>
								<td>
									<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs380.gif?resize=63%2C64&ssl=1"><br>Suicune</p>
								</td>
							</tr>
						</table>
					</p>
					<p>O cão que irá aparecer para você vai depender do pokémon inicial que você escolheu no início da jornada. Assim como o inicial que o seu rival escolhe, o cão lendário que vai aparecer será sempre aquele do tipo que tem vantagem ao seu inicial. Então:<br>Se você escolheu Squirtle, aparecerá Raikou;<br>Se você escolheu Bulbasaur, aparecerá Entei;<br>Se você escolheu Charmander, aparecerá Suicune.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-unknown-dungeon-(cerulean-cave)">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-unknown-dungeon-(cerulean-cave)" aria-expanded="false" aria-controls="collapse-unknown-dungeon-(cerulean-cave)">
					<span class="titulo-secao">
						<em>UNKNOWN DUNGEON (CERULEAN CAVE)</em>
					</span>
				</button>
			</h2>
			<div id="collapse-unknown-dungeon-(cerulean-cave)" class="accordion-collapse collapse" aria-labelledby="heading-unknown-dungeon-(cerulean-cave)" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>É uma caverna que fica em Cerulean. É lá que se captura o Mewtwo. Cheio de labirintos, é um lugar muito chato, porém vem vários pokémons, do mais legal, ao mais estranho. Só que você vai ter que ter a National Dex para entrar lá… Também vai precisar ter entregado o Ruby e a Sapphire para o Celio, então, isso quer dizer que só para entrar já é difícil.</p>
					<p>Para chegar lá basta sair pelo norte de Cerulean e procurar um lugar à esquerda para se usar Surf. Se você tiver entregado o Ruby e a Sapphire para o Celio e se tiver a National Dex, não haverá ninguém na entrada da caverna. Se tiver um cara barrando a entrada da caverna, quer dizer que falta fazer essas coisas.</p>
					<p>Quando a passagem estiver livre, entre. Lembre-se de trazer um pokémon que saiba usar a técnica do Rock Smash. Lembre-se também de trazer um belo estoque de Ultra balls, pois além de precisar delas para capturar o Mewtwo, os pokémons aqui estão muito fortes, e para serem capturados com mais facilidade, precisa-se da Ultra ball. Assim como nas antigas versões de R/B/Y, a Unknown Dungeon é uma grande caverna com pokémons em levels altos. Abaixo seguem os mapas da caverna. Para chegar diretamente ao Mewtwo, basta seguir as letras E, F e G.</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/dungeon1.png?resize=540%2C299&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/dungeon2.png?resize=540%2C336&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/dungeon3.png?resize=540%2C303&ssl=1">
					</p>
					<p>Itens:<ol>
							<li>Nugget</li>
							<li>Full Restore</li>
							<li>Max Elixir</li>
							<li>PP Up</li>
							<li>Ultra Ball</li>
							<li>Full Restore</li>
							<li>Max Revive</li>
							<li>Ultra Ball</li>
						</ol>
					</p>
					<p>Pokémons:</p>
					<p>Geodude e Graveler – usando rock smash<br>Psyduck/Slowpoke e Golduck/Slowbro – usando surf<br>Wobbufet e Electrode – tendo sorte, são raros de serem encontrados<br>Golbat, Parasect, Primeape, Machoke, Kadabra, Magneton e Ditto – comuns</p>
					<p>Explore bem a caverna, cuidado para não se enrolar nos labirintos. As letras indicam onde as escadas vão dar. Use Rock Smash para chegar até alguns itens, um deles é a Ultra ball, já é uma ajuda para tentar capturar o Mewtwo.</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs305.gif?resize=57%2C63&ssl=1">Quando chegar ao fim da caverna encontrará um pokémon muito forte, isso mesmo, é o Mewtwo. Ele é o pokémon lendário mais forte de todos, digo isso porque ele está no level 70, será o lendário mais difícil de ser capturado, quanto mais alto o level, mais difícil é para capturar. Fique de frente para o Mewtwo e salve o jogo. Como capturá-lo é muito difícil, é importante salvar, para caso não conseguir, tentar denovo do lugar de onde salvou.</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg150.png?resize=64%2C64&ssl=1">Para facilitar a captura, deve deixá-lo com o HP baixo e colocá-lo para dormir (sleep). Mas é preciso fazer isso rápido, porque caso ele use seu golpe Safeguard, ele não será afetado nem por sleep, nem por poison, nem por nenhuma outra condição de Status. Outro problema é que ele possui o golpe Recover. Isso quer dizer que, quando você estiver tentando abaixar o HP dele, ele vai lá e recupera uma parte do HP com essa técnica. Não subestime o Mewtwo, quando eu falei que ele era difícil de ser capturado, é porque ele é mesmo, ainda mais que é um pokémon lendário.</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg150.png?resize=64%2C64&ssl=1">Ele também possui 2 golpes ofensivos: Psychic e Swift, que poderão ir causando danos ao seu pokémon. Quando achar que é a hora certa, atire a Ultra ball e torça para que ele seja capturado. Te desejo boa sorte, pois é bem mais provável que ele escape do que seja capturado, mas não desista! Você ainda tem chances, e o Mewtwo vale muito a pena, pode até ajudar na sua nova ida a elite 4, porque os pokémons dos membros da elite vão estar mais fortes e o Mewtwo está em um bom level para enfrentá-los. Se quiser derrotar denovo os membros da elite 4, sejam igual ao Mewtwo, ou melhor, tentem ser melhor do que ele, Mewtwo é um exemplo de um pokémon de level alto e você precisa estar em um level mais alto do que o dele para enfrentar denovo as elites.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-fim-de-jogo-–-o-último-desafio-à-elite-4">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-fim-de-jogo-–-o-último-desafio-à-elite-4" aria-expanded="false" aria-controls="collapse-fim-de-jogo-–-o-último-desafio-à-elite-4">
					<span class="titulo-secao">
						<em>FIM DE JOGO – O ÚLTIMO DESAFIO À ELITE 4</em>
					</span>
				</button>
			</h2>
			<div id="collapse-fim-de-jogo-–-o-último-desafio-à-elite-4" class="accordion-collapse collapse" aria-labelledby="heading-fim-de-jogo-–-o-último-desafio-à-elite-4" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Quando seus pokémons estiverem bem fortes mesmo (ao menos até o lv. 75), volte ao Indigo Plateau, pois você terá que enfrentar a elite 4 denovo. Você já sabe como se preparar. Na verdade, assim que você ajudar Lorelei a derrotar os Rockets na Four Island, a opção de batalhar com a elite 4 melhorada está aberta. Se achar que está pronto, então, vamos a liga!</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/treinadores/frlg/frlgemtr112.png?resize=64%2C64&ssl=1">Elite 4 Lorelei – Tipo Água/Gelo<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg087.png?resize=64%2C64&ssl=1">Dewgong lv.64<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg091.png?resize=64%2C64&ssl=1">Cloyster lv.63<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg080.png?resize=64%2C64&ssl=1">Slowbro lv.64<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg124.png?resize=64%2C64&ssl=1">Jynx lv.66<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg131.png?resize=64%2C64&ssl=1">Lapras lv.66</p>
					<p>Agora Lorelei tem Pilowine, para ele, golpes de fogo e de água são bem efetivos.</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/treinadores/frlg/frlgemtr113.png?resize=64%2C64&ssl=1">Elite 4 Bruno – Tipo Lutador/Terra<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs351.gif?resize=64%2C63&ssl=1">Steelix lv.65<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg107.png?resize=64%2C64&ssl=1">Hitmonchan lv.65<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg106.png?resize=64%2C64&ssl=1">Hitmonlee lv.65<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs351.gif?resize=64%2C63&ssl=1">Steelix lv.66<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg068.png?resize=64%2C64&ssl=1">Machamp lv.68</p>
					<p>Use golpes aquáticos e de planta para vencer.</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/treinadores/frlg/frlgemtr114.png?resize=64%2C64&ssl=1">Elite 4 Agatha – Tipo Fantasma/Veneno<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg094.png?resize=64%2C64&ssl=1">Gengar lv.66<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs065.gif?resize=63%2C63&ssl=1">Crobat lv.66<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg094.png?resize=64%2C64&ssl=1">Gengar lv.70<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs345.gif?resize=35%2C39&ssl=1">Misdreavus lv.65<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg024.png?resize=64%2C64&ssl=1">Arbok lv.68</p>
					<p>Evite usar golpes normais e lutadores, contra Golbat é melhor um tipo elétrico e contra Arbok é melhor um tipo terra.</p>
					<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/treinadores/frlg/frlgemtr115.png?resize=64%2C64&ssl=1">Elite 4 Lance – Tipo Dragão/Voador<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg130.png?resize=64%2C64&ssl=1">Gyarados lv.68<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs186.gif?resize=54%2C59&ssl=1">Kingdra lv.66<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg149.png?resize=64%2C64&ssl=1">Dragonite lv.66<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg142.png?resize=64%2C64&ssl=1">Aerodactyl lv.70<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg149.png?resize=64%2C64&ssl=1">Dragonite lv.72</p>
					<p align="left">Use golpes de gelo e dragão para vencer.</p>
					<p>Seu Rival (Gary)<table cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<p>Se você começou com Bulbasaur:</p>
									<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs168.gif?resize=63%2C57&ssl=1">Heracross lv.72<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs383.gif?resize=64%2C64&ssl=1">Tyranitar lv.72<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg130.png?resize=64%2C64&ssl=1">Gyarados lv.73<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg103.png?resize=64%2C64&ssl=1">Exeggutor lv.59<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg065.png?resize=64%2C64&ssl=1">Alakazam lv.57<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg006.png?resize=64%2C64&ssl=1">Charizard lv.75</p>
								</td>
								<td>
									<p>Se você começou com Squirtle:</p>
									<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs168.gif?resize=63%2C57&ssl=1">Heracross lv.72<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs383.gif?resize=64%2C64&ssl=1">Tyranitar lv.72<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg059.png?resize=64%2C64&ssl=1">Arcanine lv.73<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg130.png?resize=64%2C64&ssl=1">Gyarados lv.73<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg065.png?resize=64%2C64&ssl=1">Alakazam lv.73<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg003.png?resize=64%2C64&ssl=1">Venusaur lv.75</p>
								</td>
								<td>
									<p>Se você começou com Charmander:</p>
									<p><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs168.gif?resize=63%2C57&ssl=1">Heracross lv.72<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/rubysapphire/pkrs383.gif?resize=64%2C64&ssl=1">Tyranitar lv.72<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg103.png?resize=64%2C64&ssl=1">Exeggutor lv.73<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg059.png?resize=64%2C64&ssl=1">Arcanine lv.73<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg065.png?resize=64%2C64&ssl=1">Alakazam lv.73<br><img class="img-detonado" data-recalc-dims="1" decoding="async" loading="lazy" src="https://i0.wp.com/pokemythology.net/conteudo/sprites/frlg/pkfrlg009.png?resize=64%2C64&ssl=1">Blastoise lv.75</p>
								</td>
							</tr>
						</table>
					</p>
					<p align="left">Derrote o Gary da mesma forma que você sempre derrota.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-navel-rock">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-navel-rock" aria-expanded="false" aria-controls="collapse-navel-rock">
					<span class="titulo-secao">
						<em>NAVEL ROCK</em>
					</span>
				</button>
			</h2>
			<div id="collapse-navel-rock" class="accordion-collapse collapse" aria-labelledby="heading-navel-rock" data-bs-parent="#accordionExample">
				<div class="accordion-body"><br>Navel Rock é uma ilha, ela faz parte das Sevii Islands, seria a ilha 8. Você precisa ter o Mystery Ticket distribuido por um Evento da Nintendo. Se você o tem, poderá chegar a esta ilha pelo porto de Vermillion. Aqui terá uma caverna. Siga o caminho todo até encontrar um lugar que tem 2 caminhos: um para a esquerda e outro para a direita. Siga à esquerda para chegar em um Ho-oh em lv.70. Siga à direita para chegar em um Lugia em lv.70. Boa sorte para capturá-los.<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/navelrock.png?w=640&ssl=1">
					</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/legendhooh.png?w=640&ssl=1">
						<img class="img-detonado" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/legendlugia.png?w=640&ssl=1">
					</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading-birth-island">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-birth-island" aria-expanded="false" aria-controls="collapse-birth-island">
					<span class="titulo-secao">
						<em>BIRTH ISLAND</em>
					</span>
				</button>
			</h2>
			<div id="collapse-birth-island" class="accordion-collapse collapse" aria-labelledby="heading-birth-island" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Birth Island é uma ilha, ela faz parte das Sevii Islands, seria a ilha 9. Você precisa ter o Aurora Ticket distribuido por um Evento da Nintendo… denovo. Se você o tem, poderá chegar a esta ilha pelo porto de Vermillion. Você verá que tem um triângulo aqui, aperte A nele e ele irá se mover (salve antes de apertar A nele). Ande até ele, dando o menor número de passos o possível, e vá apertando A nele até aparecer um pokémon. Caso você não der o menor número de passos, o triângulo voltará a sua posição inicial e você terá de começar tudo denovo. O pokémon que irá aparecer é Deoxys. Se for FireRed, será o Deoxys na forma ataque, se for LeafGreen, será o Deoxys na forma defesa. Boa sorte pra capturá-lo.</p>
					<p class="text-center"><img class="img-detonado" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/birth.png?w=640&ssl=1">
						<img class="img-detonado" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/pokemythology.net/conteudo/imgs/screenfrlg/islands8a.png?w=640&ssl=1"><footer>
							<small>Baseado em conteúdo de<a href="https://www.nintendoblast.com.br/2018/10/melhor-time-pokemon-parte2-black2-white2-unova.html" target="_blank" rel="noopener">Nintendo Blast</a>. Todos os direitos são dos respectivos autores.</small>
						</footer>
					</p>
				</div>
			</div>
		</div>
	</div>
</article>
 <script>
 